<!DOCTYPE HTML>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122656489-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
function gtag() {
  dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-122656489-1');
</script>

		<title>Template | GameGeist Apparel</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- SEO Purposes -->
    <meta name="description" content="GameGeist Apparel provides fashionable and trendy college gameday and tailgate apparel for men and women."/>
  	<meta name="keywords" content= "GameGeist, GameGeist Apparel, USC tailgate, USC gameday, college gameday apparel, college tailgate apparel"/>
    <meta property='og:title' content="Home | GameGeist Apparel">
  	<meta property="og:description" content="GameGeist Apparel provides fashionable and trendy college gameday and tailgate apparel for men and women."/>
  	<!-- <meta property='og:url' content="https://www.gamegeist-apparel.com/custom-orders.html"> -->

    <!-- Website Icon -->
  	<link rel="icon" href="./images/favicon/favicon.ico" type="img/png">

		<!-- Main Stylesheet -->
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a class="logo" href="index.html">GameGeist Apparel</a>
				<nav>
					<ul>
						<li>
							<a href="#menu">Menu</a>
						</li>
					</ul>
				</nav>
			</header>

			<!-- Menu -->
				<nav id="menu">
					<ul class="links">
						<li><a href="index.html">Home</a></li>
						<li><a href="shop.html">Shop</a></li>
						<li><a href="about.html">About Us</a></li>
						<li><a href="lookbook.html">Lookbook</a></li>
						<li><a href="https://www.instagram.com/gamegeistapparel/" target="_blank" class="icon fa-instagram">&nbsp; Instagram<span class="label">Instagram</span></a></li>
						<li><a href="custom-orders.html">Custom Orders</a></li>
						<li><a href="index.html#contact" class="button special icon fa-shopping-cart">Pre-Order</a></li>
						<br />
						<h6>
							<li><a href="terms-conditions.html">Terms</a> | <a href="return-policy.html">Return Policy</a> | <a href="size-guide.html">Size Guide</a></li>
						<h6>
						<!-- <li><a href="#" class="button">Log In</a></li> -->
					</ul>
				</nav>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">

					<header class="major">
						<h1>Generic</h1>
					</header>

					<span class="image main"><img src="images/pic04.jpg" alt="" /></span>
					<p>Vis accumsan feugiat adipiscing nisl amet adipiscing accumsan blandit accumsan sapien blandit ac amet faucibus aliquet placerat commodo. Interdum ante aliquet commodo accumsan vis phasellus adipiscing. Ornare a in lacinia. Vestibulum accumsan ac metus massa tempor. Accumsan in lacinia ornare massa amet. Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan.</p>
					<p>Amet nibh adipiscing adipiscing. Commodo ante vis placerat interdum massa massa primis. Tempus condimentum tempus non ac varius cubilia adipiscing placerat lorem turpis at. Aliquet lorem porttitor interdum. Amet lacus. Aliquam lobortis faucibus blandit ac phasellus. In amet magna non interdum volutpat porttitor metus a ante ac neque. Nisi turpis. Commodo col. Interdum adipiscing mollis ut aliquam id ante adipiscing commodo integer arcu amet Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan commodo odio cubilia ac eu interdum placerat placerat arcu commodo lobortis adipiscing semper ornare pellentesque.</p>
					<p>Amet nibh adipiscing adipiscing. Commodo ante vis placerat interdum massa massa primis. Tempus condimentum tempus non ac varius cubilia adipiscing placerat lorem turpis at. Aliquet lorem porttitor interdum. Amet lacus. Aliquam lobortis faucibus blandit ac phasellus. In amet magna non interdum volutpat porttitor metus a ante ac neque. Nisi turpis. Commodo col. Interdum adipiscing mollis ut aliquam id ante adipiscing commodo integer arcu amet blandit adipiscing arcu ante.</p>

				</div>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<ul class="contact-icons">
					<li class="icon fa-map-marker"><a href="">Los Angeles, CA</a></li>
					<li class="icon fa-camera"><a href="http://instagram.com/gamegeistapparel">Follow Us On Instagram</a></li>
					<li class="icon fa-envelope"><a href="mailto:gamegeistapparel@gmail.com">gamegeistapparel@gmail.com</a></li>
				</ul>
				<div class="copyright">
					&copy; 2018 GameGeist Apparel. All rights reserved.
					<br />
					<a style="text-decoration: none; color: inherit;" href="terms-conditions.html">Terms & Conditions</a>
					| <a style="text-decoration: none; color: inherit;" href="return-policy.html">Return Policy</a>
					| <a style="text-decoration: none; color: inherit;" href="size-guide.html">Size Guide</a>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
